<?xml version="1.0" encoding="UTF-8" ?>
<service id="test-service">
  <type>IM</type>
  <provider>test-provider</provider>
  <name>GoogleTalk</name>
  <icon>icon_google_talk</icon>

  <!-- default settings (account settings have precedence over these) -->
  <template>
    <setting name="manager">gabble</setting>
    <setting name="protocol">jabber</setting>

    <group name="parameters">
      <setting name="server">talk.google.com</setting>
      <setting name="port" type="i">5223</setting>
      <setting name="old-ssl" type="b">true</setting>
      <setting name="fallback-conference-server">conference.jabber.org</setting>
    </group>

  </template>
</service>
